#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organised, always
    %button= link_to "Enter", new_user_registration_path
    
#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
